# Copier ce fichier en ".env" et renseigner les vraies valeurs.
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=changez_moi_par_une_longue_chaine_aleatoire
DATABASE_URL="mysql://beneto:beneto@db:3306/beneto?serverVersion=8.0"
